{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
{{form_start(vueFormulaireUser) }}
 
 <h1>Inscription</h1>

<table class="table ">
    <tr>
      <th>{{form_label(vueFormulaireUser.nom)}}</th>
      <td>{{form_widget(vueFormulaireUser.nom)}}</td>
    </tr>
    <tr>
      <th>{{form_label(vueFormulaireUser.prenom)}}</th>
      <td>{{form_widget(vueFormulaireUser.prenom)}}</td>
    </tr>
    <tr>
      <th>{{form_label(vueFormulaireUser.email)}}</th>
      <td>{{form_widget(vueFormulaireUser.email)}}</td>
    </tr>
    <tr>
      <th>{{form_label(vueFormulaireUser.password)}}</th>
      <td>{{form_widget(vueFormulaireUser.password)}}</td>
    </tr>
</table>

<div class="" style ="text-align:center">

  <button type="submit"  class="btn btn-dark shadow-sm">Enregistrer</button>

</div>
 

{{form_end(vueFormulaireUser)}}
</div>
{% endblock %}
