{% if is_granted('ROLE_ADMIN') %}
{% extends 'base.html.twig' %}

{% block title %}Editer une formation{% endblock %}

{% block body %}

    <h1>Editer une formation</h1>

    {{ include('formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formation_index') }}">Retour à la liste</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
{% endif %}
