{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom formation</th>
                <th>Sigle formation</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.nomFormation }}</td>
                <td>{{ formation.sigleFormation }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">Voir</a>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Editer</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune fomation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('formation_new') }}">Nouveau module</a>
    {% endif %}
{% endblock %}
