{% if is_granted('ROLE_ADMIN') %}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1>Créer une formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la lsite</a>
{% endblock %}
{% endif %}
