{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Nom formation</th>
                <td>{{ formation.nomFormation }}</td>
            </tr>
            <tr>
                <th>Sigle formation</th>
                <td>{{ formation.sigleFormation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('formation_edit', {'id': formation.id}) }}">Editer</a>
    {% endif %}
    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
