<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenu sur prostage!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    {% block header %}
  <nav class="navbar navbar-expand-lg bg-primary text-uppercase position-sticky">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger text-white" href="#page-top">Prostage</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
       
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{ path('accueil') }}">Accueil</a>
              </li>

              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{ path('formation_index') }}">Formations</a>
              </li>

              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{ path('entreprises') }}">Entreprises</a>
              </li>
            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{ path('creationNouvelleEntreprise') }}">Nouvelle entreprise</a>
              </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{ path('ajouterStage') }}">Nouveau stage</a>
              </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="/admin">Admin</a>
              </li>
            {% endif %}

              {% if app.user %}
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{ path('app_logout') }}">déconnexion ({{ app.user.prenom }})</a>
                </li>
              {% else %}
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{path('app_login')}}">Connexion</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-2 rounded js-scroll-trigger text-white" href="{{path('app_registration')}}">Inscription</a>
                </li>
              {% endif %}
          </ul>
      </div>
    </div>
  </nav>
    {% endblock %}

    {% block body %}
    
    {% endblock %}


    {% block footer %}
       
    {# Copyright Section #}
    <section class="copyright py-4 text-center text-white  bg-primary fixed-bottom">
        <div class="container">
          <small>Copyright &copy; Nicolas Lopes</small>
        </div>
      </section>
    {% endblock %}


    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        {% endblock %}
</body>

</html>