{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="container pt-8 pb-8">
    <div class="card-columns py-5">
 
        {% for data in listeStage %}
            
                <div class="card position-relative ">
                    <div class="card-body">
                        <h5 class="card-title">{{data.titreStage}} | <a href="{{path('stageParEntreprise',{'param':data.entreprises.nomEntreprise})}}"> {{ data.entreprises.nomEntreprise }}</a></h5>
                        <p class="card-text">{{data.descriptionStage}}</div>
                        <div class="card-footer">
                        <small class="text-muted">Début : {{data.dateDebutStage | date("d/m/y")}} Fin : {{data.dateFinStage| date("d/m/y")}} </small>
                         <a class="   btn text-primary" href="{{path('stages',{'id':data.id})}}">En savoir plus</a>
                        </div>
                       
                </div> 
                
        {% endfor %}

    </div>
</div>
{% endblock %}