{% extends 'base.html.twig' %}

{% block title %}Hello ControllerProstageController!{% endblock %}

{% block body %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Adresse</th>
      <th scope="col">Site</th>
      <th scope="col">Téléphone</th>
       {% if is_granted('ROLE_ADMIN') %}
       <th scope="col">Action</th>
       {% endif %}
    </tr>
  </thead>
  <tbody>

    {% for data in listeEntreprises %}
        <tr>
            <th scope="row">{{data.id}}</th>
            <td> <a href="/entreprises/{{data.nomEntreprise}}">{{data.nomEntreprise}}<a></td>
            <td>{{data.descriptionEntreprise}}</td>
            <td>{{data.adresseEntreprise}}</td>
            <td>{{data.siteEntreprise}}</td>
            <td>{{data.numeroTelephoneEntreprise}}</td>
             {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path('modificationEntreprise',{'nomEntreprise':data.nomEntreprise})}}">Modifer</a></td>
            {% endif %}
        </tr>

    
    {% endfor %}
  </tbody>
</table>
{% endblock %}
