{% extends 'base.html.twig' %}


{% block title %}

Ajout d'un stage

{% endblock %}

{% block body %}


{{form_start(vueFormulaireStage, {'attr' : {'novalidate' : 'novalidate'}}) }}

<div class="container mb-5">
 
<h1>Ajouter un stage</h1>
 

<table class="table ">
  <tr>
    <th>{{form_label(vueFormulaireStage.titreStage)}}</th>
    <td>{{form_widget(vueFormulaireStage.titreStage)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireStage.descriptionStage)}}</th>
    <td>{{form_widget(vueFormulaireStage.descriptionStage)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireStage.emailContact)}}</th>
    <td>{{form_widget(vueFormulaireStage.emailContact)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireStage.nomContact)}}</th>
    <td>{{form_widget(vueFormulaireStage.nomContact)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireStage.dateDebutStage)}}</th>
    <td>{{form_widget(vueFormulaireStage.dateDebutStage)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireStage.dateFinStage)}}</th>
    <td>{{form_widget(vueFormulaireStage.dateFinStage)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireStage.Formation)}}</th>
    <td>{{form_widget(vueFormulaireStage.Formation)}}</td>
  </tr>
</table>

<div class="" style ="text-align:center">

  <button type="submit"  class="btn btn-dark shadow-sm mb-5">Ajouter</button>

</div>
</div>

{{form_end(vueFormulaireStage)}}



{% endblock %}