{% extends 'base.html.twig' %}


{% block title %}
Ajout d'une nouvelle entreprise
{% endblock %}

{% block body %}

{{form_start(vueFormulaireEntreprise)}}

<div class="container">
<table class="table ">
  <tr>
    <th>{{form_label(vueFormulaireEntreprise.nomEntreprise)}}</th>
    <td>{{form_widget(vueFormulaireEntreprise.nomEntreprise)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireEntreprise.adresseEntreprise)}}</th>
    <td>{{form_widget(vueFormulaireEntreprise.adresseEntreprise)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireEntreprise.descriptionEntreprise)}}</th>
    <td>{{form_widget(vueFormulaireEntreprise.descriptionEntreprise)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireEntreprise.siteEntreprise)}}</th>
    <td>{{form_widget(vueFormulaireEntreprise.siteEntreprise)}}</td>
  </tr>
  <tr>
    <th>{{form_label(vueFormulaireEntreprise.numeroTelephoneEntreprise)}}</th>
    <td>{{form_widget(vueFormulaireEntreprise.numeroTelephoneEntreprise)}}</td>
  </tr>
</table>

<div class="" style ="text-align:center">

  <button type="submit"  class="btn btn-dark shadow-sm">Créer l'entreprise</button>

</div>
</div>

{{form_end(vueFormulaireEntreprise)}}



{% endblock %}