{% extends 'base.html.twig' %}

{% block title %}Hello ControllerProstageController!{% endblock %}

{% block body %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Sigle</th>
    </tr>
  </thead>
  <tbody>
{% for data in listeFormation %}
        <tr>
            <th scope="row">{{data.id}}</th>
            <td><a href="/formations/{{data.nomFormation}}">{{data.nomFormation}}</a></td>
            <td>{{data.sigleFormation}}</td>

        </tr>

    
    {% endfor %}
  </tbody>
</table>
{% endblock %}
    