{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
<div class="container mt-5">
<dl class="row">
    <dt class="col-lg-2 col-sm-3"><h4>Titre :</h4></dt>
    <dd class="col-lg-10 col-sm-9"> <p>{{stage.titreStage}}</p> </dd>

    <dt class="col-lg-2 col-sm-3"><h4 ">Entreprise :</h4></dt>
    <dd class="col-lg-10 col-sm-9"><p>{{stage.entreprises.nomEntreprise}}</p></dd>

    <dt class="col-lg-2 col-sm-3"><h4 ">Descritpion :</h4></dt>
    <dd class="col-lg-10 col-sm-9"><p>{{stage.descriptionStage}}</p></dd>

    <dt class="col-lg-2 col-sm-3"><h4>Formation(s) :</h4></dt>
    <dd class="col-lg-10 col-sm-9"><p>
    {% for formation in stage.Formation %}
    {{formation.nomFormation}}<br>
    {% endfor %}
    </p>
    </dd>

    <dt class="col-lg-2 col-sm-3"><h4>Contact :</h4></dt>
    <dd class="col-lg-10 col-sm-9"><p>{{stage.nomContact}} : {{stage.emailContact}}</p></dd>


</dl>
</div>
{% endblock %}